{{#partial "contenido"}}
    <h1 class="text-center mb-4">Sugerencias generadas</h1>

    {{#unless sugerencias}}
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">No hubo sugerencias posibles, o todavia no se han generado</h4>
            </div>
        </div>
    {{/unless}}
    {{#each sugerencias}}
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Sugerencia {{sumar1 @index}}</h4>
                <div class="row">
                    {{#each atuendo.todasLasPrendas}}
                        <div class="col-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                            <div class="card flex-fill">
                                {{#if tieneImagen}}
                                    <img src='data:image/jpeg;base64, {{base64 imagen}}'
                                         class="card-img-top" alt="imagen de la prenda">
                                {{else}}
                                    <img src="/img/logo.png"
                                         class="card-img-top" alt="imagen por defecto de la prenda">
                                {{/if}}
                                <div class="card-body">
                                    <h5>{{sinGuionesBajos tipo}}</h5>
                                    <p>{{material}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}

{{/partial}}

{{>layout.hbs}}