{{#partial "contenido"}}
    <h1 class="text-center mb-4">Crear Nueva Prenda</h1>    
    
    <form action="/guardarropas/{{guardarropa.id}}/nuevaPrenda" method="POST">
  		<div class="form-row" style="margin-bottom: 1.5%;">
  			<div class="form-group col-md-6">
      			<label for="tipo_prenda">Tipo</label>
      			<select name="tipo" id="tipo_prenda" class="form-control">
        			{{#each tiposDePrendaPosibles}}
                    	<option selected value="{{this}}">{{sinGuionesBajos this}}</option>
                    {{/each}}
      			</select>
    		</div>
  			<div class="form-group col-md-6">
      			<label for="material">Material</label>
      			<select name="material" id="material" class="form-control">
        			{{#each materialesDePrendaPosibles}}
                    	<option selected value="{{this}}">{{sinGuionesBajos this}}</option>
                    {{/each}}
      			</select>
    		</div>
    	</div>
    	<div class="form-row">
    		<div class="form-group col-md-6">
      			<label for="colorPrincipal">Color principal</label>
                <!--input type="color"-->
      			<select name="colorPrincipal" id="colorPrincipal" class="form-control">
      				<option selected value="(255,255,255)">BLANCO</option>
                    <option value="(0,0,0)">NEGRO</option>
                    <option value="(0,0,255)">AZUL</option>
                    <option value="(255,0,0)">ROJO</option>
                    <option value="(255,255,0)">AMARILLO</option>
                    <option value="(0,255,0)">VERDE</option>
      			</select>
    		</div>
    		<div class="form-group col-md-6">
      			<label for="colorSecundario">Color secundario</label>
      			<select name="colorSecundario" id="colorSecundario" class="form-control">
      				<option selected value=""> - </option>
                    <option value="(255,255,255)">BLANCO</option>
                    <option value="(0,0,0)">NEGRO</option>
                    <option value="(0,0,255)">AZUL</option>
                    <option value="(255,0,0)">ROJO</option>
                    <option value="(255,255,0)">AMARILLO</option>
                    <option value="(0,255,0)">VERDE</option>
      			</select>
    		</div>
    	</div>
    	<div style="align-items: center; margin-top: 2%; display: flex; flex-direction: column;">
  			<button type="submit" class="btn btn-primary" style="width: 25%; margin-bottom: 1%;">Crear</button>
  			<a style="width: 10%; text-align: center;" class="btn btn-primary" href="/guardarropas/{{guardarropa.id}}/prendas">
                Volver
            </a>
  		</div>
	</form>

    <script>
        let params = new URLSearchParams(document.location.search.substring(1));
        let materialNoTieneSentido = params.get("materialNoTieneSentido");
        if(materialNoTieneSentido === "1") {
            bs4pop.notice('El material no tiene sentido para ese tipo de prenda', {
                type: 'danger',
                position: 'bottomcenter',
                appendType: 'append',
                closeBtn: false,
                className: ''
            })
        }

        let usuarioNoEsPropietarioDelGuardarropa = params.get("usuarioNoEsPropietarioDelGuardarropa");
        if(usuarioNoEsPropietarioDelGuardarropa === "1") {
            bs4pop.notice('No sos propietario del guardarropa', {
                type: 'danger',
                position: 'bottomcenter',
                appendType: 'append',
                closeBtn: false,
                className: ''
            })
        }

        let capacidadExcedidaGuardarropa = params.get("capacidadExcedidaGuardarropa");
        if(capacidadExcedidaGuardarropa === "1") {
            bs4pop.notice('Capacidad del guardarropa excedido para la version gratuita', {
                type: 'danger',
                position: 'bottomcenter',
                appendType: 'append',
                closeBtn: false,
                className: ''
            })
        }
    </script>
{{/partial}}

{{>layout.hbs}}